<template>
    <div class="max-w-screen-xl">
        <div class="mb-6">
            <p class="text-xl font-medium tracking-wider flex-between">
                <t-button @click="$window.history.back()"><icon name="arrow-left" class="mr-2"/> Back</t-button>
                <inertia-link :href="route('medical.facilities')" class="text-blue-600"> {{ facility.name || 'New Health Facility' }}</inertia-link>
            </p>
        </div>

        <form-section @submitted="form.post(route(isEditing() ? 'medical.facilities.update' : 'medical.facilities.store', {facility: facility.id}))">
            <template #title>Facility Details</template>
            <template #description>Provide the necessary information about this facility</template>

            <template #form>
                <div class="grid grid-cols-2 gap-3">
                    <t-input-group label="Name" :variant="errors.name && 'error'" :feedback="errors.name">
                        <t-input v-model="form.name"/>
                    </t-input-group>
                    <t-input-group label="Type" :variant="errors.type && 'error'" :feedback="errors.type">
                        <t-select v-model="form.type" :options="facility_types" placeholder="Select a type"/>
                    </t-input-group>
                </div>
                
                <div class="grid grid-cols-2 gap-3">
                    <t-input-group label="Region" :variant="errors.region && 'error'" :feedback="errors.region">
                        <t-select v-model="form.region" :options="regions" placeholder="Select a region"/>
                    </t-input-group>
                    <t-input-group label="Town" :variant="errors.town && 'error'" :feedback="errors.town">
                        <t-input v-model="form.town"/>
                    </t-input-group>
                </div>

                <div class="grid grid-cols-2 gap-3">
                    <t-input-group label="Digital Address" :variant="errors.digital_address && 'error'" :feedback="errors.digital_address">
                        <t-input v-model="form.digital_address"/>
                    </t-input-group>
                </div>
            </template>

            <template #actions>
                <div class="flex-between">
                    <t-button v-if="isEditing()" type="button" class="mr-2 text-red-500" @click="deleteFacility(facility.id)">Delete</t-button>
                    <t-button variant="success" type="submit">Save</t-button>
                </div>
            </template>
        </form-section>

        <form-section v-if="isEditing()">
            <template #title>Medical Professionals</template>
            <template #description>
                Medical Professionals attached to this Health Facility
            </template>
            <template #form>
                <div class="">
                    <div class="mt-3">
                        <div class="divide-y border rounded-lg">
                            <div class="p-3 flex-between" v-for="(professional, index) in facility.medical_professionals" :key="index">
                                <p>{{professional.name}}</p>
                                <button @click="removeProfessional(professional.id)"><icon name="trash" class="text-red-500"/> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>

            <template #actions>
                <div class="flex-between">
                    <!-- <t-button variant="success" type="submit">Save</t-button> -->
                </div>
            </template>
        </form-section>
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import layout from '../Layout'
export default {
    layout: [SiteLayout, layout],
    props: {
        errors: Object,
        facility: Object,
        facility_types: Array,
        regions: Array,
    },

    mounted(){
        if(this.isEditing()) this.form = {...this.form, ...this.facility}
    },

    data(){
        return {
            form: this.$inertia.form({
                name: null,
                type: '',
                region: '',
                town: '',
                digital_address: '',
            })
        }
    },

    methods: {
        isEditing(){
            return !! this.facility.id
        },


        removeProfessional(professional){
                this.$inertia.delete(
                    route('facility-professionals.destroy', {professional, facility_id: this.facility.id}),
                    {
                        onBefore: () => confirm('Are you sure?'),
                        onSuccess: () => this.$inertia.reload()
                    }
                )
        },

        deleteFacility(facility){
            if(confirm('Are you sure?')){
                this.$inertia.delete(route('medical.facilities.destroy', {facility}))
            }
        }
    }
}
</script>