<template>
   <div>
        <div class="mb-6">
            <p class="page-header">
                <span>Health Facilities</span>
                <t-button :href="route('medical.facilities.create')" tagName="a" class="flex items-center" variant="dark"> <icon name="plus"/> New Health Facility</t-button>
            </p>
        </div>

        <div class="p-4 mb-4 bg-white rounded-lg shadow">
            <div class="grid grid-cols-4 gap-3">
                <t-input v-model="search.name" placeholder="Name"/>
                <t-select v-model="search.type" :options="facility_types" placeholder="All Facility Types"/>
                <t-select v-model="search.region" :options="regions" placeholder="All Regions"/>
                <t-select v-model="search.user_id" :options="users.map(user => ({text: user.name, value: user.id}))" placeholder="All Reps"/>
                <t-datepicker v-model="search.created_at" range placeholder="Created date range"/>
            </div>
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Name</th>
                        <th class="py-4 t-cell">Type</th>
                        <th class="py-4 t-cell">Region</th>
                        <th class="py-4 t-cell">Town</th>
                        <th class="py-4 t-cell">GPS</th>
                        <th class="py-4 t-cell">Rep</th>
                        <th class="py-4 t-cell">Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" 
                        v-for="(facility, index) in facilities.data" 
                        :key="index" @click="$inertia.visit(route('medical.facilities.edit', {facility: facility.id}))"
                    >
                        <td class="t-cell">{{ facility.name }}</td>
                        <td class="t-cell">{{ facility.type }}</td>
                        <td class="t-cell">{{ facility.region }}</td>
                        <td class="t-cell">{{ facility.town }}</td>
                        <td class="t-cell">{{ facility.digital_address }}</td>
                        <td class="t-cell">{{ facility.user && facility.user.name }}</td>
                        <td class="t-cell">{{ $moment(facility.created_at).format('lll')  }}</td>
                    </tr>
                    <tr v-if="!facilities.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="facilities.links" :from="facilities.from" :to="facilities.to" :total="facilities.total" />
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import layout from '../Layout'
export default {
    layout: [SiteLayout, layout],
    props: {
        facilities: Object,
        facility_types: Array,
        regions: Array,
        users: Array,
    },

    data(){
        return {
            search: {
                name: '',
                type: '',
                region: '',
                user_id: null,
                created_at: null,
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('medical.facilities'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>