<template>
    <div class="max-w-screen-xl">
        <div class="mb-6">
            <div class="text-xl font-medium tracking-wider flex-between">
                <!-- <div> -->
                    <t-button @click="$window.history.back()"><icon name="arrow-left" class="mr-2"/> Back</t-button>
                    <inertia-link :href="route('outlets.edit', {outlet: outlet.id})" class="text-blue-600"> {{ outlet.name }}</inertia-link>
                <!-- </div> -->
                <div v-if="isEdit() && payment.method == 'Check'">
                    <t-button v-if="!payment.check_cleared_on" :href="route('sales.payments.checks.clear', {payment: payment.id})" class="text-blue-600"> 
                        <icon name="check"/>
                        <span>Clear Check</span> 
                    </t-button>
                </div>
            </div>
        </div>

        <form-section @submitted="savePayment">
            <template #title>Payment Details</template>
            <!-- <template #description>Provide the necessary information about this payment</template> -->

            <template #form>
                <div class="grid grid-cols-2 gap-3">
                    <t-input-group label="Amount (GHS)" :variant="errors.amount && 'error'" :feedback="errors.amount">
                        <t-input v-model="form.amount" type="number"/>
                    </t-input-group>
                    <t-input-group label="Payment method" :variant="errors.method && 'error'" :feedback="errors.method">
                        <t-select v-model="form.method" :options="['Cash', 'Check']" placeholder="Select a payment method"/>
                    </t-input-group>
                </div>
                
                <div class="grid grid-cols-2 gap-3" v-if="form.method == 'Check'">
                    <t-input-group label="Check Number" :variant="errors.check_number && 'error'" :feedback="errors.check_number">
                        <t-input v-model="form.check_number"/>
                    </t-input-group>
                    <t-input-group label="Check Due Date" :variant="errors.check_due_date && 'error'" :feedback="errors.check_due_date">
                        <t-datepicker v-model="form.check_due_date"/>
                    </t-input-group>
                </div>
            </template>

            <template #actions>
                <div class="flex-between">
                    <t-button v-if="isEdit()" type="button" class="mr-2 text-red-500" @click="deletepayment(payment.id)">Delete</t-button>
                    <t-button variant="success" type="submit">Save</t-button>
                </div>
            </template>
        </form-section>
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import layout from '../Layout'
export default {
    layout: [SiteLayout, layout],
    props: {
        errors: Object,
        payment: Object,
        outlet: Object
    },

    mounted(){
        if(this.isEdit()) this.form = {...this.form, ...this.payment}
    },

    data(){
        return {
            form: this.$inertia.form({
                outlet_id: this.outlet.id,
                user_id: this.user().id,
                amount: '',
                method: '',
                check_number: '',
                check_due_date: '',
            })
        }
    },

    methods: {
        isEdit(){
            return !! this.payment.id
        },

        savePayment(){
            this.form.post(route(this.isEdit() ? 'sales.payments.update' : 'sales.payments.store', {payment: this.payment.id, outlet: this.outlet.id}), {
                onSuccess: () => {
                     this.form.amount = ''
                     this.form.method = ''
                     this.form.check_number = ''
                     this.form.check_due_date = ''
                }
            })
        },

        deletepayment(payment){
            this.$inertia.delete(route('sales.payments.destroy', {payment}), {
                onBefore: () => confirm('Are you sure?')
            })
        }
    }
}
</script>