<template>
   <div>
        <div class="mb-6">
            <p class="page-header">
                <span>Purchase Orders </span>
                <!-- <t-button :href="route('outlets.create')" tagName="a" class="flex items-center" variant="dark"> <icon name="plus"/> New Sales Outlet</t-button> -->
            </p>
        </div>

        <div class="filters-form">
            <t-datepicker v-model="search.created_at" range placeholder="Created date range"/>
            <!-- <t-datepicker v-model="search.payment_due_by" range placeholder="Payment due date range"/> -->
            <!-- <t-datepicker v-model="search.check_matures_at" range placeholder="Check Post-date range"/> -->
            <!-- <t-select v-model="search.method" :options="['Cash', 'Credit', 'Check']" placeholder="Payment method"/> -->
            <!-- <t-select v-model="search.product" :options="products" placeholder="Products" class="col-span-2"/> -->
            <!-- <t-select v-model="search.payment_status" :options="['Pending', 'Settled', 'Overdue']" placeholder="Payment Status"/> -->
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Created</th>
                        <th class="py-4 t-cell">Outlet</th>
                        <th class="py-4 t-cell">Sales Executive</th>
                        <th class="py-4 t-cell">Amount (GHS)</th>
                        <th class="py-4 t-cell">Payment Method</th>
                        <th class="py-4 t-cell">Check number</th>
                        <th class="py-4 t-cell">Check Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" 
                        v-for="(payment, index) in payments.data" 
                        :key="index" @click="$inertia.visit(route('sales.payments.edit', {payment: payment.id}))"
                    >
                        <td class="t-cell">{{$moment(payment.created_at).format('lll') }}</td>
                        <td class="t-cell">{{ payment.outlet.name }}</td>
                        <td class="t-cell">{{ payment.user ? payment.user.name : '' }}</td>
                        <td class="t-cell">{{ payment.amount }}</td>
                        <td class="t-cell">{{ payment.method}} </td>
                        <td class="t-cell">{{ payment.method == 'Check' ? payment.check_number : '--' }}</td>
                        <td class="t-cell">{{ payment.method == 'Check' ? $moment(payment.check_due_date).format('ll') : '--' }}</td>
                    </tr>
                    <tr v-if="!payments.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="payments.links" :from="payments.from" :to="payments.to" :total="payments.total" />
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import FinanceLayout from '../Layout'
export default {
    layout: [SiteLayout, FinanceLayout],
    props: {
        payments: Object,
    },

    data(){
        return {
            search: {
                created_at: '',
                payment_due_by: '',
                check_matures_at: '',
                method: '',
                product: '',
                payment_status: '',
            },
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('sales.payments'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>