<template>
    <div class="max-w-screen-xl">
        <div class="mb-6">
            <div class="flex items-end space-x-4 text-xl font-medium tracking-wider">
                <t-button @click="$window.history.back()"><icon name="arrow-left" class="mr-2"/> Back</t-button>
                <!-- <p class="text-pink-800 uppercase">{{sample.name}}</p> -->
            </div>
        </div>

        <form-section @submitted="form.post(route(isEdit() ? 'samples.update' : 'samples.store', {sample: sample.id}))">
            <template #title>Sample Distribution</template>
            <template #description>
                Provide the necessary information about this sample distribution
            </template>

            <template #form>
                <div class="form-row-cols-2">
                    <t-input-group label="receiver_name" :variant="errors.receiver_name && 'error'" :feedback="errors.receiver_name">
                        <t-input v-model="form.receiver_name"/>
                    </t-input-group>
                    <t-input-group label="receiver_type" :variant="errors.receiver_type && 'error'" :feedback="errors.receiver_type">
                        <t-select v-model="form.receiver_type" :options="receiver_types" placeholder="Select a receiver_type"/>
                    </t-input-group>
                </div>

                <div class="form-row-cols-3">
                    <t-input-group label="product" :variant="errors.product && 'error'" :feedback="errors.product">
                        <t-select v-model="form.product" :options="products" placeholder="Select an product"/>
                    </t-input-group>
                    <t-input-group label="product_type" :variant="errors.product_type && 'error'" :feedback="errors.product_type">
                        <t-select v-model="form.product_type" :options="product_types" placeholder="Select a product type"/>
                    </t-input-group>
                    <t-input-group label="quantity" :variant="errors.quantity && 'error'" :feedback="errors.quantity">
                        <t-input v-model="form.quantity"/>
                    </t-input-group>
                </div>
            </template>

            <template #actions>
                <div class="flex-between">
                    <t-button v-if="isEdit()" type="button" class="mr-2 text-red-500" @click="deletesample(sample.id)">Delete</t-button>
                    <t-button variant="success" type="submit">Save</t-button>
                </div>
            </template>
        </form-section>
    </div>
</template>

<script>
import layout from '@/Shared/Layout'
export default {
    layout,
    props: {
        errors: Object,
        sample: Object,
        products: Array,
        product_types: Array,
        receiver_types: Array,
    },

    mounted(){
        // console.log(this.sample)
        // if(this.isEdit()) 
        this.form = {...this.form, ...this.sample}
    },

    data(){
        return {
            form: this.$inertia.form({
                receiver_name: '',
                receiver_type: '',
                product: '',
                product_type: '',
                quantity: '',
                user_id: this.user().id,
            })
        }
    },

    methods: {
        isEdit(){
            return !! this.sample.id
        },

        deletesample(sample){
            this.$inertia.delete(route('samples.destroy', {sample}), {
                onBefore: () => confirm('Are you sure?')
            })
        }
    }
}
</script>