<template>
   <div>
        <div class="mb-6">
            <p class="page-header">
                <span>Sample Distributions</span>
                <t-button :href="route('samples.create')" tagName="a" class="flex items-center" variant="dark"> <icon name="plus"/> Issue Sample</t-button>
            </p>
        </div>

        <div class="filters-form">
            <t-datepicker v-model="search.created_at" range placeholder="Date Range"/>
            <t-input v-model="search.receiver_name" placeholder="Receiver Name"/>
            <t-select :options="issuers.map(issuer => ({text: issuer.name, value: issuer.id}))" v-model="search.user_id" placeholder="All Issuers"/>
            <t-select v-model="search.receiver_type" :options="receiver_types" placeholder="All Receiver Types"/>
            <t-select v-model="search.product" :options="products" placeholder="All Products"/>
            <t-select v-model="search.product_type" :options="product_types" placeholder="All Product Types"/>
            <!-- <t-input v-model="search.product" placeholder="P"/> -->
            <!-- <t-select v-model="search.type" :options="['Retail', 'Wholesale']" placeholder="Select type"/> -->
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="t-cell py-4">Created</th>
                        <th class="t-cell py-4">Issuer</th>
                        <th class="t-cell py-4">Reciever</th>
                        <th class="t-cell py-4">Receiver Type</th>
                        <th class="t-cell py-4">Product</th>
                        <th class="t-cell py-4">Product Type</th>
                        <th class="t-cell py-4">quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="td-row cursor-pointer hover:bg-gray-50" v-for="(sample, index) in samples.data" :key="index" @click="$inertia.visit(route('samples.edit', {sample: sample.id}))">
                        <td class="t-cell">{{$moment(sample.created_at).format('ll')}}</td>
                        <td class="t-cell">{{sample.user.name}}</td>
                        <td class="t-cell">{{sample.receiver_name}}</td>
                        <td class="t-cell capitalize">{{sample.receiver_type}}</td>
                        <td class="t-cell">{{sample.product}}</td>
                        <td class="t-cell">{{sample.product_type}}</td>
                        <td class="t-cell">{{sample.quantity}}</td>
                    </tr>
                    <tr v-if="!samples.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="samples.links" :from="samples.from" :to="samples.to" :total="samples.total" />
    </div>
</template>

<script>
import layout from '@/Shared/Layout'
export default {
    layout,
    props: {
        samples: Object,
        receiver_types: Array,
        products: Array,
        product_types: Array,
        issuers: Array,
    },

    data(){
        return {
            search: {
                created_at: '',
                receiver_name: '',
                user_id: '',
                receiver_type: '',
                product: '',
                product_type: '',
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('samples'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>