<template>
   <div>
        <div class="mb-4">
            <p class="page-header">
                <span>Roles & Permissions</span>
                <t-button :href="route('admins.acl.permissions.create')" class="flex items-center"> 
                    <icon name="exclamation" class="mr-2 text-red-500"/> 
                    Seed Permissions 
                    <icon name="exclamation" class="ml-2 text-red-500"/>
                </t-button>
            </p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">

            <!-- Roles -->
            <div>
                <div class="card col-span-1">
                    <div class="card-header pb-0">
                       <span>Roles</span> 
                       <!-- <t-button @click="showModal = true"> Add </t-button> -->
                    </div>
                    <div class="card-body space-y-4">
                        <div class="flex-between" v-for="(role, index) in roles" :key="index">
                            <div class="cursor-pointer flex-1 flex-between mr-6" :class="form.id == role.id && 'text-pink-900 font-bold'" @click="editRole(role)"> 
                                <p>{{role.name}}</p> 
                                <span class="text-gray-500 text-xs">{{role.permissions.length}} permissions</span> 
                            </div>
                            <button @click="deleteRole(role)"> <icon name="trash" class="h-4 w-4 text-red-500"/> </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Create Role & Give Permissions -->
            <div class="card col-span-2">
                <div class="p-6">
                    <t-input-group label="Role name" :variant="errors.name && 'error'" :feedback="errors.name">
                        <t-input v-model="form.name"/>
                    </t-input-group>

                    <p class="my-4">
                        <label class="flex items-center">
                            <t-checkbox v-model="all_permissions" />
                            <span class="text-sm">All Permissions</span>
                        </label>
                    </p>

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 grid-flow-row">
                        <label class="flex items-center" v-for="(permission, index) in permissions" :key="index">
                            <t-checkbox v-model="form.permissions" :name="permission.name" :value="permission.name" />
                            <span class="text-sm">{{permission.name}}</span>
                        </label>
                    </div>

                    <div class="pt-4 flex justify-end">
                        <t-button @click="saveRole">Save</t-button>
                    </div>
                </div>
            </div>
        </div>
<!-- 
        <t-modal v-model="showModal" variant="xl" header="Create/Edit Role">
            <t-input-group label="Role name" :variant="errors.name && 'error'" :feedback="errors.name">
                <t-input v-model="form.name"/>
            </t-input-group>
            <template v-slot:footer>
                <div class="flex justify-between">
                    <span></span>
                    <t-button type="button" @click="saveRole"> Save </t-button>
                </div>
            </template>
        </t-modal> -->
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import Adminlayout from '../Layout'
export default {
    layout: [SiteLayout, Adminlayout],
    props: {
        errors: Object,
        roles: Array,
        permissions: Array
    },

    data(){
        return {
            showModal: false,
            all_permissions: false,
            form: {
                id: '',
                name: '',
                permissions: []
            }
        }
    },

    watch: {
        all_permissions: function(val){
            if(val){
                this.form.permissions = this.permissions.map(item => item.name)
            } else {
                this.form.permissions = []
            }
        }
    },

    methods: {
        saveRole(){
            this.$inertia.post(route('admins.acl.roles.store'), this.form, {
                onSuccess: () => {
                    this.form = {
                            id: '',
                            name: '',
                            permissions: []
                        }
                },
            })
        },

        deleteRole(role){
            this.$inertia.delete(route('admins.acl.roles.destroy', {role: role.id}), {
                onBefore: () => confirm('Delete role: '+role.name+'?'),
            })
        },

        editRole(role){
            this.form = role
            // this.showModal = true
        }
    }
}
</script>