<template>
	<div class="max-w-screen-xl">
		<div class="mb-6">
			<p class="text-xl font-medium tracking-wider flex-between">
				<t-button @click="$window.history.back()">
					<icon name="arrow-left" class="mr-2" />Back
				</t-button>
				<inertia-link
					:href="route('outlets.edit', {outlet: outlet.id})"
					class="text-blue-600"
				>{{ outlet.name }}</inertia-link>
			</p>
		</div>

		<form-section
			@submitted="form.post(route(isEdit() ? 'marketing.survey.update' : 'marketing.survey.store', {survey: survey.id}))"
		>
			<template #title>{{product}} survey</template>
			<template #description>Provide details about this survey</template>

			<template #form>
				<div class="form-row-cols-2">
					<t-input-group
						label="Has Product?"
						:variant="errors.has_product && 'error'"
						:feedback="errors.has_product"
					>
						<t-select
							v-model="form.has_product"
							:options="[{text: 'Yes', value: 1}, {text: 'No', value: 0}]"
							placeholder="Yes or No"
						/>
					</t-input-group>
					<t-input-group
						label="Quantity"
						:variant="errors.quantity && 'error'"
						:feedback="errors.quantity"
					>
						<t-input v-model="form.quantity" type="number" />
					</t-input-group>
					<t-input-group label="Price" :variant="errors.price && 'error'" :feedback="errors.price">
						<t-input v-model="form.price" type="number" />
					</t-input-group>
				</div>

				<div class>
					<t-input-group
						label="Informed of chande in packaging?"
						:variant="errors.remarks && 'error'"
						:feedback="errors.remarks"
					>
						<t-select
							v-model="form.remarks"
							:options="[{text: 'Yes', value: 'Informed of chande in packaging'}, {text: 'No', value: ''}]"
							placeholder="Yes or No"
						/>
					</t-input-group>
					<!-- <t-input-group label="notes" :variant="errors.notes && 'error'" :feedback="errors.notes">
						<t-textarea v-model="form.notes" />
					</t-input-group>-->
				</div>
			</template>

			<template #actions>
				<div class="flex-between">
					<t-button
						v-if="isEdit()"
						type="button"
						class="mr-2 text-red-500"
						@click="deletesurvey(survey.id)"
					>Delete</t-button>
					<t-button variant="success" type="submit">Save</t-button>
				</div>
			</template>
		</form-section>
	</div>
</template>

<script>
	import SiteLayout from "@/Shared/Layout";
	import layout from "../Layout";
	export default {
		layout: [SiteLayout],
		props: {
			errors: Object,
			survey: Object,
			outlet: Object,
			product: String
		},

		mounted() {
			if (this.isEdit()) this.form = { ...this.form, ...this.survey };
		},

		data() {
			return {
				form: this.$inertia.form({
					has_product: 1,
					quantity: "",
					price: "",
					remarks: "",
					outlet_id: this.outlet.id
				})
			};
		},

		methods: {
			isEdit() {
				return !!this.survey.id;
			},

			deletesurvey(survey) {
				if (confirm("Are you sure?")) {
					this.$inertia.delete(
						route("survey.destroy", { survey })
					);
				}
			}
		}
	};
</script>