<template>
	<div>
		<div class="mb-6">
			<div class="page-header">
				<p class="mb-3">Call Records</p>
				<t-button :href="route('call-records.create')" variant="dark" tagName="a">+ New Call Record</t-button>
			</div>
		</div>

		<!-- Search -->
		<!-- <div class="filters-form">
            <date-time-picker
                :range="true"
                :only-date="true"
                @validate="getData"
                v-model="search.date"
                label="Filter by date"
                format="YYYY-MM-DD"
                formatted="YYYY-MM-DD"
                :noClearButton="false"
                :no-label="false"
            ></date-time-picker>
            <t-input v-model="search.name" placeholder="Filter by name"/>
            <t-select v-model="search.product" placeholder="All Products" :options="products"/>
            <t-select v-model="search.source" placeholder="All Ad Sources" :options="ad_sources"/>
            <t-select v-model="search.reason" placeholder="All Reasons" :options="reasons"/>
            <t-select v-model="search.region" placeholder="All Regions" :options="regions"/>
            <t-input v-model="search.town" placeholder="Filter by town"/>
            <t-input v-model="search.country" placeholder="Filter by country"/>
		</div>-->

		<div class="table-container">
			<table class="table">
				<thead>
					<tr class="th-row">
						<th class="py-4 t-cell">...</th>
						<th class="py-4 t-cell">Name</th>
						<th class="py-4 t-cell">Phone</th>
						<th class="py-4 t-cell">Town</th>
						<th class="py-4 t-cell">Region</th>
						<th class="py-4 t-cell">Country</th>
						<th class="py-4 t-cell">Product</th>
						<th class="py-4 t-cell">Reason</th>
						<th class="py-4 t-cell">Ad Source</th>
						<th class="py-4 t-cell">Date</th>
						<th class="py-4 t-cell">Notes</th>
					</tr>
				</thead>
				<tbody>
					<tr class="td-row hover:bg-gray-50" v-for="(caller, index) in callRecords.data" :key="index">
						<td class="pr-0 t-cell">
							<button @click="$inertia.visit(route('call-records.edit', {caller: caller.id}))">
								<icon name="eye" class="w-4 h-4 mr-1 text-blue-500" />
							</button>
							<!-- <button @click="deleteRecord(caller.id)"> <icon name="trash" class="w-4 h-4 text-red-500"/> </button> -->
						</td>
						<td class="t-cell">{{caller.name}}</td>
						<td class="t-cell">{{caller.phone}}</td>
						<td class="t-cell">{{caller.town}}</td>
						<td class="t-cell">{{caller.region}}</td>
						<td class="t-cell">{{caller.country}}</td>
						<td class="t-cell">{{caller.product}}</td>
						<td class="t-cell">{{caller.reason}}</td>
						<td class="t-cell">{{caller.source}}</td>
						<td class="t-cell">{{$moment(caller.created_at).format('lll') }}</td>
						<td class="t-cell">{{caller.notes}}</td>
					</tr>
					<tr v-if="!callRecords.data.length">
						<td class="t-cell">No records found</td>
					</tr>
				</tbody>
			</table>
		</div>
		<pagination
			:onPageChange="getData"
			:links="callRecords.links"
			:from="callRecords.from"
			:to="callRecords.to"
			:total="callRecords.total"
		/>
	</div>
</template>

<script>
	import layout from "@/Shared/Layout";
	export default {
		layout,
		props: {
			callRecords: Object,
			reasons: Array,
			regions: Array,
			products: Array,
			ad_sources: Array
		},

		data() {
			return {
				search: {
					date: "",
					name: "",
					phone: "",
					town: "",
					region: "",
					country: "",
					product: "",
					reason: "",
					source: ""
				}
			};
		},

		watch: {
			search: {
				handler() {
					this._search();
				},
				deep: true
			}
		},

		methods: {
			_search: _.debounce(function() {
				this.getData();
			}, 300),

			getData(page = 1) {
				this.$inertia.get(
					route("call-records"),
					{ page, ...this.search },
					{
						preserveState: true,
						only: ["callRecords"]
					}
				);
			},

			deleteRecord(caller) {
				if (confirm("Delete this record?")) {
					this.$inertia.delete(
						route("call-records.destroy", {
							caller
						})
					);
				}
			}
		}
	};
</script>