<template>
    <div class="max-w-screen-xl">
        <div class="mb-6">
            <p class="text-xl font-medium tracking-wider flex-between">
                <t-button :href="route('medical.professionals')" tagName="a"><icon name="arrow-left" class="mr-2"/> Back</t-button>
                <inertia-link :href="route('medical.professionals')" class="text-blue-600"> {{ professional.name || 'New Health professional' }}</inertia-link>
            </p>
        </div>

        <form-section @submitted="form.post(route(isEdit() ? 'medical.professionals.update' : 'medical.professionals.store', {professional: professional.id}))">
            <template #title>Medical Professional's Details</template>
            <template #description>
                Provide the necessary information about this professional
                <div v-if="isEdit()" class="mt-4">
                    <div>
                        <div class="section-border"></div>
                        <p class="mb-4 font-semibold text-gray-600 uppercase">Actions </p>
                        <t-button variant="dark" :href="route('samples.create', {receiver_name: professional.name, receiver_type: 'doctor'})"> 
                            <span class="text-sm">Issue Sample -> </span> 
                        </t-button>
                        <t-button variant="dark" :href="route('medical.engagements.create', {professional: professional.id})"> 
                            <span class="text-sm">Log Engagement -> </span>
                        </t-button>
                    </div>
                </div>
            </template>

            <template #form>
                <div class="form-row-cols-2">
                    <t-input-group label="Name" :variant="errors.name && 'error'" :feedback="errors.name">
                        <t-input v-model="form.name"/>
                    </t-input-group>
                    <t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone">
                        <t-input v-model="form.phone"/>
                    </t-input-group>
                </div>
                
                <div class="form-row-cols-2">
                    <t-input-group label="Email" :variant="errors.email && 'error'" :feedback="errors.email">
                        <t-input v-model="form.email"/>
                    </t-input-group>
                    <t-input-group label="Specialty" :variant="errors.specialty && 'error'" :feedback="errors.specialty">
                        <t-select v-model="form.specialty" :options="specialties" placeholder="Select a specialty"/>
                    </t-input-group>
                </div>

                <!-- <div class="">
                    <t-input-group label="Medical Facility" :variant="errors.health_facility_id && 'error'" :feedback="errors.health_facility_id">
                        <t-select v-model="form.health_facility_id" :options="facilities.map(facility => ({value: facility.id, text: facility.name}))" placeholder="Select a health facility"/>
                    </t-input-group>
                </div> -->

                <div>
                    <p class="mb-3">Products prescribed</p>
                    <div class="form-row-cols-4">
                        <label class="flex items-center" v-for="(product, index) in products" :key="index">
                            <t-checkbox v-model="form.products_prescribed" :name="product" :value="product" />
                            <span class="text-sm">{{product}}</span>
                        </label>
                    </div>
                </div>
            </template>

            <template #actions>
                <div class="flex-between">
                    <t-button v-if="isEdit()" type="button" class="mr-2 text-red-500" @click="deleteProfessional(professional.id)">Delete</t-button>
                    <t-button variant="success" type="submit">Save</t-button>
                </div>
            </template>
        </form-section>

        <form-section v-if="isEdit()">
            <template #title>Health Facilities</template>
            <template #description>
                Attach to health facilities
            </template>

            <template #form>
                <div class="">
                    <t-input-group label="Medical Facilities">
                        <t-select @change="addFacility" :options="facilities.map(facility => ({value: facility.id, text: facility.name}))" placeholder="Select a medical facility"/>
                    </t-input-group>
                    <div class="mt-3">
                        <div class="divide-y border rounded-lg">
                            <div class="p-3 flex-between" v-for="(facility, index) in professional.health_facilities" :key="index">
                                <p>{{facility.name}}</p>
                                <button @click="removeFacility(facility.id)"><icon name="trash" class="text-red-500"/> </button>
                            </div>
                        </div>
                    </div>
                </div>

            </template>

            <template #actions>
                <div class="flex-between">
                    <!-- <t-button variant="success" type="submit">Save</t-button> -->
                </div>
            </template>
        </form-section>
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import layout from '../Layout'
export default {
    layout: [SiteLayout, layout],
    props: {
        errors: Object,
        professional: Object,
        specialties: Array,
        facilities: Array,
        products: Array,
    },

    mounted(){
        if(this.isEdit()) this.form = {...this.form, ...this.professional}
    },

    data(){
        return {
            form: this.$inertia.form({
                health_facility_id: null,
                name: '',
                phone: '',
                email: '',
                specialty: '',
                products_prescribed: []
            })
        }
    },

    methods: {
        isEdit(){
            return !! this.professional.id
        },

        addFacility(facility_id){
            if(facility_id){
                this.$inertia.post(
                    route('facility-professionals.store', {professional: this.professional.id}),
                    {facility_id},
                    {onSuccess: () => this.$inertia.reload()}
                )
            }
        },

        removeFacility(facility_id){
                this.$inertia.delete(
                    route('facility-professionals.destroy', {professional: this.professional.id, facility_id}),
                    {
                        onBefore: () => confirm('Are you sure?'),
                        onSuccess: () => this.$inertia.reload()
                    }
                )
        },

        deleteProfessional(professional){
            if(confirm('Are you sure?')){
                this.$inertia.delete(route('medical.professionals.destroy', {professional}))
            }
        }
    }
}
</script>