<template>
   <div>
        <div class="mb-6">
            <p class="page-header">
                <span>Medical Professionals</span>
                <t-button :href="route('medical.professionals.create')" tagName="a" class="flex items-center" variant="dark"> <icon name="plus"/> New Medical Professional</t-button>
            </p>
        </div>

        <div class="p-4 mb-4 bg-white rounded-lg shadow">
            <div class="grid grid-cols-4 gap-3">
                <t-input v-model="search.name" placeholder="Name"/>
                <t-select v-model="search.specialty" :options="specialties" placeholder="All specialties"/>
                <t-select v-model="search.product" :options="products" placeholder="All products prescribed"/>
                <t-select v-model="search.user_id" :options="users.map(user => ({text: user.name, value: user.id}))" placeholder="All Reps"/>
                <t-datepicker v-model="search.created_at" range placeholder="Created date range"/>
            </div>
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Name</th>
                        <th class="py-4 t-cell">Phone</th>
                        <th class="py-4 t-cell">Specialty</th>
                        <th class="py-4 t-cell">Products Prescribed</th>
                        <th class="py-4 t-cell">Rep</th>
                        <th class="py-4 t-cell">created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" 
                        v-for="(professional, index) in professionals.data" 
                        :key="index" @click="$inertia.visit(route('medical.professionals.edit', {professional: professional.id}))"
                    >
                        <td class="t-cell">{{ professional.name }}</td>
                        <td class="t-cell">{{ professional.phone }}</td>
                        <td class="t-cell">{{ professional.specialty }}</td>
                        <td class="t-cell space-x-2">
                            <span v-if="search.product" class="bg-indigo-100 px-2 rounded-full">{{search.product}}</span>
                            <span v-else v-for="(product, index) in professional.products_prescribed" :key="index" class="bg-indigo-100 px-2 rounded-full">
                                {{product}}
                            </span>
                        </td>
                        <td class="t-cell">{{ professional.user && professional.user.name }}</td>
                        <td class="t-cell">{{ $moment(professional.created_at).format('lll') }}</td>
                    </tr>
                    <tr v-if="!professionals.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="professionals.links" :from="professionals.from" :to="professionals.to" :total="professionals.total" />
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import layout from '../Layout'
export default {
    layout: [SiteLayout, layout],
    props: {
        professionals: Object,
        specialties: Array,
        products: Array,
        users: Array,
    },

    data(){
        return {
            search: {
                name: '',
                product: '',
                specialty: '',
                user_id: null,
                created_at: null,
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('medical.professionals'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>