<template>
   <div>
        <div class="mb-4">
            <p class="page-header">
                <span>Marketing Engagement Report</span>
            </p>
        </div>
        <div class="bg-white rounded-xl border">
            <div class="p-3 border-b">
                <div class="max-w-lg">
                    <t-datepicker v-model="search.created_at" range placeholder="Date range"/>
                </div>
            </div>
            <div class="divide-y">
                <div class="grid grid-cols-7 gap-2 divide-x font-bold text-gray-700">
                    <div class="p-3">Executive</div>
                    <div class="p-3">Total Visits</div>
                    <div class="p-3">Retail</div>
                    <div class="p-3">Wholesale</div>
                    <div class="p-3">With Promo Items</div>
                    <div class="p-3">Prostat60 Visibility</div>
                    <div class="p-3">Demaphyte Visibility</div>
                </div>
                <div class="grid grid-cols-7 gap-2 divide-x text-gray-700" v-for="(user, index) in users" :key="index">
                    <template>
                        <div class="p-3">{{user.name}}</div>
                        <div class="p-3 flex space-x-3">
                            <p class="font-semibold"> {{user.totalEngagements}} </p>
                        </div>
                        <div class="p-3 flex space-x-3">
                            <p class="font-semibold"> {{user.totalRetails}} </p>
                        </div>
                        <div class="p-3 flex space-x-3">
                            <p class="font-semibold"> {{user.totalWholesales}} </p>
                        </div>
                        <div class="p-3 flex space-x-3">
                            <p class="font-semibold"> {{user.totalWithPromoItems}} </p>
                        </div>
                        <div class="p-3 flex space-x-3">
                            <p v-for="([visiblity, value], index) in Object.entries(user.visibilities.Prostat60)" :key="index"> 
                                <span class="text-xs">{{visiblity}}</span> <br> 
                                <span class="font-semibold">{{value}}</span> 
                            </p>
                        </div>
                        <div class="p-3 flex space-x-3">
                            <p v-for="([visiblity, value], index) in Object.entries(user.visibilities.Demaphyte)" :key="index"> 
                                <span class="text-xs">{{visiblity}}</span> <br> 
                                <span class="font-semibold">{{value}}</span> 
                            </p>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import Layout from './Layout'
export default {
    layout: [SiteLayout, Layout],
    props: {
        users: Array
    },

    data(){
        return {
            search: {
                created_at: ''
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('reports.marketing'), {page, ...this.search}, {
                preserveState: true,
            })
        },
    }
}
</script>