<template>
   <div>
        <div class="mb-4">
            <p class="page-header">
                <span>Sample Distribution Report</span>
            </p>
        </div>
        <div class="bg-white rounded-xl border">
            <div class="p-3 border-b">
                <div class="max-w-lg">
                    <t-datepicker v-model="search.created_at" range placeholder="Date range"/>
                </div>
            </div>
            <div class="divide-y">
                <div class="grid grid-cols-5 gap-2 divide-x font-bold text-gray-700">
                    <div class="p-3">Executive</div>
                    <div class="p-3">Prostat 60</div>
                    <div class="p-3">Demaphyte</div>
                    <div class="p-3">Omega-Zee</div>
                    <div class="p-3">ZetaPRO</div>
                </div>
                <div class="grid grid-cols-5 gap-2 divide-x font-bold text-gray-700">
                    <div class="p-3">Totals</div>
                    <div class="p-3">{{totalSold('Prostat60')}}</div>
                    <div class="p-3">{{totalSold('Demaphyte')}}</div>
                    <div class="p-3">{{totalSold('Omega-Zee')}}</div>
                    <div class="p-3">{{totalSold('ZetaPRO')}}</div>
                </div>
                <div class="grid grid-cols-5 gap-2 divide-x text-gray-700" v-for="(user, index) in users" :key="index">
                    <template>
                        <div class="p-3">{{user.name}}</div>
                        <div class="p-3 flex space-x-3">
                            <p> <span class="text-xs">Pack(10):</span> <br> <span class="font-semibold">{{user.purchaseOrders.Prostat60['Pack of 10']}}</span> </p>
                            <p> <span class="text-xs">Pack(30):</span> <br> <span class="font-semibold">{{user.purchaseOrders.Prostat60['Pack of 30']}}</span> </p>
                            <p> <span class="text-xs">Total:</span> <br> <span class="font-semibold">{{user.purchaseOrders.Prostat60.Total}}</span> </p>
                        </div>
                        <div class="p-3 flex space-x-3">
                            <p> <span class="text-xs">Bottles:</span> <br> <span class="font-semibold">{{user.purchaseOrders.Demaphyte.Bottles}}</span> </p>
                            <p> <span class="text-xs">Total:</span> <br> <span class="font-semibold">{{user.purchaseOrders.Demaphyte.Total}}</span> </p>
                        </div>
                        <div class="p-3 flex space-x-3">
                            <p> <span class="text-xs">Pack(10):</span> <br> <span class="font-semibold">{{user.purchaseOrders['Omega-Zee']['Pack of 10']}}</span> </p>
                            <p> <span class="text-xs">Total:</span> <br> <span class="font-semibold">{{user.purchaseOrders['Omega-Zee'].Total}}</span> </p>
                        </div>
                        <div class="p-3 flex space-x-3">
                            <p> <span class="text-xs">Pack(10):</span> <br> <span class="font-semibold">{{user.purchaseOrders.ZetaPRO['Pack of 10']}}</span> </p>
                            <p> <span class="text-xs">Total:</span> <br> <span class="font-semibold">{{user.purchaseOrders.ZetaPRO.Total}}</span> </p>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import Layout from './Layout'
export default {
    layout: [SiteLayout, Layout],
    props: {
        users: Array
    },

    data(){
        return {
            search: {
                created_at: ''
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {

        totalSold(prod){
            return this.users.reduce(function(acc, user){
               return acc + user.purchaseOrders[prod].Total
            }, 0)
        },

        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('reports.samples'), {page, ...this.search}, {
                preserveState: true,
            })
        },
    }
}
</script>