<template>
    <div class="max-w-screen-xl">
        <div class="mb-6">
            <p class="text-xl font-medium tracking-wider flex-between">
                <t-button @click="$window.history.back()"><icon name="arrow-left" class="mr-2"/> Back</t-button>
                <inertia-link :href="route('medical.engagements')" class="text-blue-600"> {{ engagement.name || 'New Medical Engagement' }}</inertia-link>
            </p>
        </div>

        <form-section @submitted="form.post(route(isEdit() ? 'medical.engagements.update' : 'medical.engagements.store', {engagement: engagement.id}))">
            <template #title>Medical engagement Details</template>
            <template #description>Provide the necessary information about this engagement</template>

            <template #form>
                <div class="form-row-cols-2">
                    <t-input-group label="Name of Doctor" :variant="errors.name && 'error'" :feedback="errors.name">
                        <t-input v-model="form.name"/>
                    </t-input-group>
                    <t-input-group label="Purpose of outreach" :variant="errors.purpose && 'error'" :feedback="errors.purpose">
                        <t-select v-model="form.purpose" :options="purposes" placeholder="Select purpose of outreach"/>
                    </t-input-group>
                </div>
                
                <div class="form-row-cols-2">
                    <t-input-group label="Product" :variant="errors.product && 'error'" :feedback="errors.product">
                        <t-select v-model="form.product" :options="products" placeholder="Select a product"/>
                    </t-input-group>
                    <!-- <t-input-group label="Samples issued (Qty)" :variant="errors.samples_issued && 'error'" :feedback="errors.samples_issued">
                        <t-input v-model="form.samples_issued" type="number"/>
                    </t-input-group> -->
                </div>

                <!-- <div class="form-row-cols-2" v-if="form.purpose == purposes[1]">
                    <t-input-group label="Individuals screened (Qty)" :variant="errors.individuals_screened && 'error'" :feedback="errors.individuals_screened">
                        <t-input v-model="form.individuals_screened" type="number"/>
                    </t-input-group>
                    <t-input-group label="Subscriptions issued (Qty)" :variant="errors.subscriptions_issued && 'error'" :feedback="errors.subscriptions_issued">
                        <t-input v-model="form.subscriptions_issued" type="number"/>
                    </t-input-group>
                </div> -->

                <div class="grid grid-cols-1 gap-3">
                    <t-input-group label="Notes / comments" :variant="errors.notes && 'error'" :feedback="errors.notes">
                        <t-textarea v-model="form.notes"/>
                    </t-input-group>
                </div>
            </template>

            <template #actions>
                <div class="flex-between">
                    <t-button v-if="isEdit()" type="button" class="mr-2 text-red-500" @click="deleteengagement(engagement.id)">Delete</t-button>
                    <t-button variant="success" type="submit">Save</t-button>
                </div>
            </template>
        </form-section>
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import layout from '../Layout'
export default {
    layout: [SiteLayout, layout],
    props: {
        errors: Object,
        engagement: Object,
        professional: Object,
        products: Array,
        purposes: Array,
    },

    mounted(){
        if(this.isEdit()) this.form = {...this.form, ...this.engagement}
    },

    data(){
        return {
            form: this.$inertia.form({
                professional_id : this.professional.id,
                name : this.professional.name,
                purpose : null,
                product : '',
                user_id : this.$page.props.auth.user.id,
                // samples_issued : '',
                // individuals_screened : '',
                // subscriptions_issued : '',
                notes : '',
            })
        }
    },

    methods: {
        isEdit(){
            return !! this.engagement.id
        },

        deleteengagement(engagement){
            if(confirm('Are you sure?')){
                this.$inertia.delete(route('medical.engagements.destroy', {engagement}))
            }
        }
    }
}
</script>