<template>
   <div>
        <div class="mb-6">
            <p class="page-header">
                <span>Medical Engagements</span>
                <!-- <t-button :href="route('medical.engagements.create')" tagName="a" class="flex items-center" variant="dark"> <icon name="plus"/> New Medical Engagement</t-button> -->
            </p>
        </div>

        <div class="filters-form">
            <t-datepicker v-model="search.daterange" range placeholder="Select date range"/>
            <t-select v-model="search.purpose" :options="purposes" placeholder="Select a purpose of outreach"/>
            <t-select v-model="search.product" :options="products" placeholder="Select a product"/>
            <t-select v-model="search.user_id" :options="users.map(user => ({text: user.name, value: user.id}))" placeholder="All Reps"/>
            <t-datepicker v-model="search.created_at" range placeholder="Created date range"/>
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Date</th>
                        <th class="py-4 t-cell">Medical Rep</th>
                        <th class="py-4 t-cell">Purpose</th>
                        <th class="py-4 t-cell">Doctor</th>
                        <th class="py-4 t-cell">Product</th>
                        <th class="py-4 t-cell">Rep</th>
                        <th class="py-4 t-cell">Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" 
                        v-for="(engagement, index) in engagements.data" 
                        :key="index" @click="$inertia.visit(route('medical.engagements.edit', {engagement: engagement.id}))"
                    >
                        <td class="t-cell">{{ engagement.user.name }}</td>
                        <td class="t-cell">{{ $moment(engagement.created_at).format('ll') }}</td>
                        <td class="t-cell">{{ engagement.purpose }}</td>
                        <td class="t-cell">{{ engagement.name }}</td>
                        <td class="t-cell">{{ engagement.product }}</td>
                        <td class="t-cell">{{ engagement.user && engagement.user.name }}</td>
                        <td class="t-cell">{{ $moment(engagement.created_at).format('lll') }}</td>
                    </tr>
                    <tr v-if="!engagements.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="engagements.links" :from="engagements.from" :to="engagements.to" :total="engagements.total" />
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import layout from '../Layout'
export default {
    layout: [SiteLayout, layout],
    props: {
        engagements: Object,
        products: Array,
        purposes: Array,
        users: Array
    },

    data(){
        return {
            search: {
                daterange: [],
                product: '',
                purpose: '',
                user_id: null,
                created_at: null,
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('medical.engagements'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>