<template>
    <div class="max-w-screen-xl">
        <div class="mb-6">
            <div class="space-x-4 text-xl font-medium tracking-wider sm:flex justify-between">
                <div class="flex items-end mb-2">
                    <t-button @click="$window.history.back()"><icon name="arrow-left" class="mr-2"/> Back</t-button>
                </div>
                <div class="flex-1 sm:flex justify-between space-y-3">
                    <div>
                        <p class="text-pink-800 uppercase">{{outlet.name}}</p>
                        <p class="text-sm text-gray-800">{{outlet.town}}, {{outlet.region}}</p>
                    </div>
                    <div v-if="isEdit()" class="text-sm">
                        <p class="text-gray-700">Rep: {{engagement.user.name}}</p>
                        <p class="text-gray-700">Date: {{$moment(engagement.created_at).format('llll') }}</p>
                    </div>
                </div>
            </div>
        </div>

        <p class="py-6 text-xl font-semibold text-center text-gray-700">Pharmacy Engagement Questionnaire</p>

        <!-- Sells Products? -->
        <form-section>
            <template #title>Sells Products?</template>
            <template #description>Does this pharmacy sell any Phytotec product?</template>

            <template #form>
                <div class="flex space-x-8">
                    <label class="flex items-center">
                        <t-radio v-model="form.sells_products" name="sells_products" :value="1" />
                        <span class="text-sm">Yes</span>
                    </label>
                    <label class="flex items-center">
                        <t-radio v-model="form.sells_products" name="sells_products" :value="0"/>
                        <span class="text-sm">No</span>
                    </label>
                </div>
            </template>
        </form-section>

        <!-- Sells Products -->
        <div v-if="form.sells_products == 1">
            <!-- products sold -->
            <form-section>
                <template #title>Product sold</template>
                <template #description>Select the product</template>

                <template #form>
                    <!-- <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
                        <label class="flex items-center" v-for="(product, index) in products" :key="index">
                            <t-checkbox v-model="form.products_sold" :name="product" :value="product" />
                            <span class="text-sm">{{product}}</span>
                        </label>
                    </div> -->
                        <t-input-group label="Product">
                            <t-select v-model="form.products_sold" :options="products" placeholder="Select a product"/>
                        </t-input-group>
                </template>
            </form-section>

            <!-- Product Visibility -->
            <form-section>
                <template #title>Product visibility</template>
                <template #description>How visible are the product placements in the shop</template>

                <template #form>
                    <div class="grid grid-cols-1">
                        <t-input-group label="Product visibility">
                            <t-select v-model="form.product_visibility" :options="product_visibility" placeholder="Select an option"/>
                        </t-input-group>
                    </div>
                </template>
            </form-section>

            <!-- Promotional items -->
            <form-section>
                <template #title>Promotional items</template>
                <template #description>What promotional material(s) are visible in or around the pharmacy.</template>

                <template #form>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
                        <label class="flex items-center" v-for="(item, index) in promotional_items" :key="index">
                            <t-checkbox v-model="form.promotional_items" :name="item" :value="item" />
                            <span class="text-sm">{{item}}</span>
                        </label>
                    </div>
                </template>
            </form-section>

            <!-- product supplier -->
            <form-section>
                <template #title>Product supplier</template>
                <template #description>Provide the type and name of the product supplier for this outlet.</template>

                <template #form>
                    <div class="grid grid-cols-1 gap-3">
                        <t-input-group label="Supplier type">
                            <t-select v-model="form.supplier_type" :options="['Sales Rep', 'Wholesale Outlet']" placeholder="Select a type"/>
                        </t-input-group>
                        <t-input-group label="Supplier name">
                            <t-input v-model="form.supplier_name"/>
                        </t-input-group>
                    </div>
                </template>
            </form-section>

            <!-- sales volume -->
            <form-section>
                <template #title>Sales volume</template>
                <template #description>Provide the estimated volume of the products they sell in a month</template>

                <template #form>
                    <div class="grid grid-cols-1 gap-3">
                        <t-input-group label="Estimated number of packs sold per month">
                            <t-input v-model="form.estimated_sales_volume" type="number"/>
                        </t-input-group>
                    </div>
                </template>
            </form-section>

            <!-- Customer purchase mode -->
            <form-section>
                <template #title>Purchases made with prescription</template>
                <template #description>How many purchases are initiated by prescription in a month (Estimated)</template>

                <template #form>
                    <div class="grid grid-cols-1 gap-3">
                        <t-input-group label="Purchases with prescription">
                            <t-input type="number" v-model="form.customer_purchase_mode"/>
                        </t-input-group>
                    </div>
                </template>
            </form-section>


        <!-- Recommends Products? -->
        <form-section>
            <template #title>Recommends Products?</template>
            <template #description>Does this outlet recomment Phytotec products to customers?</template>

            <template #form>
                <div class="flex space-x-8">
                    <label class="flex items-center">
                        <t-radio v-model="form.recommends_products" name="recommends_products" :value="1" />
                        <span class="text-sm">Yes</span>
                    </label>
                    <label class="flex items-center">
                        <t-radio v-model="form.recommends_products" name="recommends_products" :value="0"/>
                        <span class="text-sm">No</span>
                    </label>
                </div>
            </template>
        </form-section>

            <!-- Customer feedbacks -->
            <form-section>
                <template #title>Customer feedbacks</template>
                <template #description>What do customers say about our products</template>

                <template #form>
                    <div class="flex flex-col space-y-5">
                        <label class="flex items-center" v-for="(feedback, index) in customer_feedbacks" :key="index">
                            <t-checkbox v-model="form.customer_feedback" :name="feedback" :value="feedback" />
                            <span class="text-sm">{{index + 1}}. {{feedback}}</span>
                        </label>
                    </div>
                </template>
            </form-section>
        </div>

        <!-- Does not sell Products -->
        <div v-if="form.sells_products == 0">
            <form-section>
                <template #title>Why not selling?</template>
                <template #description>Select a reason for which this pharmacy doesn't sell Phytotec products.</template>

                <template #form>
                    <div class="grid grid-cols-1 gap-3">
                        <t-input-group label="Reasons">
                            <t-select v-model="form.reason_for_not_selling" :options="reasons_for_not_selling" placeholder="Select an option"/>
                        </t-input-group>
                    </div>
                </template>
            </form-section>
        </div>

        <!-- Remarks -->
        <form-section>
            <template #title>Remarks</template>
            <template #description>Notes or observations if any</template>

            <template #form>
                <div class="grid grid-cols-1 gap-3">
                    <t-input-group label="Remarks">
                        <t-textarea v-model="form.remarks"/>
                    </t-input-group>
                </div>
            </template>
        </form-section>

        <!-- Buttons -->
        <div class="flex justify-end">
            <div class="grid grid-cols-2 gap-3">
                <t-button v-if="isEdit()" @click="deleteengagement">Delete</t-button>
                <t-button variant="success" @click="saveData">Save</t-button>
            </div>
        </div>
    </div>
</template>

<script>
import layout from '@/Shared/Layout'
export default {
    layout,
    props: {
        errors: Object,
        engagement: Object,
        outlet: Object,
        reasons_for_not_selling: Array,
        promotional_items: Array,
        product_visibility: Array,
        purchase_modes: Array,
        customer_feedbacks: Array,
        products: Array
    },

    mounted(){
        // if(this.isEdit()) this.form = {...this.form, ...this.engagement}
        this.form = {...this.form, ...this.engagement}
    },

    data(){
        return {
            form: this.$inertia.form({
                user_id: this.user().id,
                sales_outlet_id: this.outlet.id,
                sells_products: null,
                products_sold: '',
                reason_for_not_selling: '',
                promotional_items: [],
                product_visibility: '',
                supplier_type: '',
                supplier_name: '',
                estimated_sales_volume: 0,
                customer_purchase_mode: '',
                customer_feedback: [],
                recommends_products: null,
                remarks: '',
            })
        }
    },

    methods: {
        isEdit(){
            return !! this.engagement.id
        },

        saveData(){
            this.form.post(route(this.isEdit() ? 'marketing.engagements.update' : 'marketing.engagements.store', {engagement: this.engagement.id}))
        },

        deleteengagement(){
            this.$inertia.delete(route('marketing.engagements.destroy', {engagement: this.engagement.id}), {
                onBefore: () => confirm('Are you sure?')
            })
        }
    }
}
</script>