<template>
   <div>
        <div class="mb-6">
            <p class="page-header">
                <span>Client Engagements</span>
                <!-- <t-button :href="route('outlets.create')" tagName="a" class="flex items-center" variant="dark"> <icon name="plus"/> New Sales Outlet</t-button> -->
            </p>
        </div>

        <div class="filters-form">
            <t-datepicker v-model="search.created_at" range placeholder="Select date range"/>
            <!-- <t-select v-model="search.region" :options="regions" placeholder="Select region"/>
            <t-input v-model="search.town" placeholder="Town"/>
            <t-select v-model="search.type" :options="['Retail', 'Wholesale']" placeholder="Select type"/> -->
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Date</th>
                        <th class="py-4 t-cell">Executive</th>
                        <th class="py-4 t-cell">Pharmacy</th>
                        <th class="py-4 t-cell">Location</th>
                        <th class="py-4 t-cell">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" 
                        v-for="(engagement, index) in engagements.data" 
                        :key="index" @click="$inertia.visit(route('marketing.engagements.edit', {engagement: engagement.id, outlet: engagement.outlet.id}))"
                    >
                        <td class="t-cell">{{$moment(engagement.created_at).format('ll') }}</td>
                        <td class="t-cell">{{engagement.user.name}}</td>
                        <td class="t-cell">{{engagement.outlet.name}}</td>
                        <td class="t-cell">{{engagement.outlet.town}}</td>
                        <td class="t-cell">{{engagement.remarks}}</td>
                    </tr>
                    <tr v-if="!engagements.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="engagements.links" :from="engagements.from" :to="engagements.to" :total="engagements.total" />
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import Marketinglayout from '../Layout'
export default {
    layout: [SiteLayout, Marketinglayout],
    props: {
        engagements: Object,
        reasons_for_not_selling: Array,
        promotional_items: Array,
        product_visibility: Array,
        purchase_modes: Array,
        products: Array
    },

    data(){
        return {
            search: {
                created_at: '',
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('marketing.engagements'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>