<template>
    <div class="max-w-screen-xl">
        <div class="mb-6">
            <p class="text-xl font-medium tracking-wider flex-between">
                <t-button @click="$window.history.back()"><icon name="arrow-left" class="mr-2"/> Back</t-button>
                <inertia-link :href="route('outlets.edit', {outlet: outlet.id})" class="text-blue-600"> {{ outlet.name }}</inertia-link>
            </p>
        </div>

        <form-section @submitted="form.post(route(isEdit() ? 'marketing.purchase-requests.update' : 'marketing.purchase-requests.store', {purchaseRequest: purchaseRequest.id}))">
            <template #title>Purchase Request</template>
            <template #description>Provide details about this purchase request</template>

            <template #form>
                <div class="form-row-cols-3">
                    <t-input-group label="Product" :variant="errors.product && 'error'" :feedback="errors.product">
                        <t-select v-model="form.product" :options="products" placeholder="Select product"/>
                    </t-input-group>
                    <t-input-group label="Product Type" :variant="errors.product_type && 'error'" :feedback="errors.product_type">
                        <t-select v-model="form.product_type" :options="product_types" placeholder="Select product type"/>
                    </t-input-group>
                    <t-input-group label="Quantity" :variant="errors.quantity && 'error'" :feedback="errors.quantity">
                        <t-input v-model="form.quantity"/>
                    </t-input-group>
                </div>

                <div class="">
                    <t-input-group label="notes" :variant="errors.notes && 'error'" :feedback="errors.notes">
                        <t-textarea v-model="form.notes"/>
                    </t-input-group>
                </div>
            </template>

            <template #actions>
                <div class="flex-between">
                    <t-button v-if="isEdit()" type="button" class="mr-2 text-red-500" @click="deletepurchaseRequest(purchaseRequest.id)">Delete</t-button>
                    <t-button variant="success" type="submit">Save</t-button>
                </div>
            </template>
        </form-section>
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import layout from '../Layout'
export default {
    layout: [SiteLayout, layout],
    props: {
        errors: Object,
        purchaseRequest: Object,
        outlet: Object,
        products: Array,
        product_types: Array,
    },

    mounted(){
        if(this.isEdit()) this.form = {...this.form, ...this.purchaseRequest}
    },

    data(){
        return {
            form: this.$inertia.form({
                product : null,
                quantity : '',
                product_type : '',
                notes : '',
                sales_outlet_id : this.outlet.id,
                user_id : this.user().id,
            })
        }
    },

    methods: {
        isEdit(){
            return !! this.purchaseRequest.id
        },

        deletepurchaseRequest(purchaseRequest){
            if(confirm('Are you sure?')){
                this.$inertia.delete(route('marketing.purchase-requests.destroy', {purchaseRequest}))
            }
        }
    }
}
</script>