<template>
   <div>
        <div class="mb-6">
            <p class="page-header">
                <span>Purchase Requests</span>
                <!-- <t-button :href="route('purchase-requests.create')" tagName="a" class="flex items-center" variant="dark"> <icon name="plus"/> New Pur</t-button> -->
            </p>
        </div>

        <div class="filters-form">
            <t-datepicker v-model="search.dates" range placeholder="Select date range"/>
            <t-select v-model="search.product" :options="products" placeholder="Select product"/>
            <!-- <t-input v-model="search.town" placeholder="Town"/>
            <t-select v-model="search.type" :options="['Retail', 'Wholesale']" placeholder="Select type"/> -->
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Created</th>
                        <th class="py-4 t-cell">Outlet</th>
                        <th class="py-4 t-cell">Product</th>
                        <th class="py-4 t-cell">Product Type</th>
                        <th class="py-4 t-cell">Quantity</th>
                        <th class="py-4 t-cell">Executive</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" 
                        v-for="(request, index) in purchaseRequests.data" 
                        :key="index" @click="$inertia.visit(route('marketing.purchase-requests.edit', {purchaseRequest: request.id, outlet: request.outlet.id}))"
                    >
                        <td class="t-cell">{{$moment(request.created_at).format('ll') }}</td>
                        <td class="t-cell">{{ request.outlet.name }}</td>
                        <td class="t-cell">{{ request.product }}</td>
                        <td class="t-cell">{{ request.product_type }}</td>
                        <td class="t-cell">{{ request.quantity }}</td>
                        <td class="t-cell">{{ request.user.name }}</td>
                    </tr>
                    <tr v-if="!purchaseRequests.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="purchaseRequests.links" :from="purchaseRequests.from" :to="purchaseRequests.to" :total="purchaseRequests.total" />
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import Marketinglayout from '../Layout'
export default {
    layout: [SiteLayout, Marketinglayout],
    props: {
        purchaseRequests: Object,
        products: Array
    },

    data(){
        return {
            search: {
                dates: '',
                product: ''
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('marketing.purchase-requests'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>