<template>
    <div class="h-full flex-center">
        <div class="space-y-3 text-justify">
            <p class="font-bold tracking-widest text-center text-gray-700 uppercase">Welcome, {{$page.props.auth.user.name}}</p>
            <p class="text-6xl font-black tracking-widest text-transparent bg-gradient-to-r from-pink-700 via-gray-700 to-red-800 bg-clip-text">PHYTOTEC LTD</p> 
            <p class="font-bold tracking-widest text-center text-gray-700 uppercase">Data Aggregation Platform</p>
        </div>
    </div>
</template>

<script>
import layout from '@/Shared/Layout'
export default {
    layout
}
</script>