<template>
   <div class="relative">
        <div class="border-b border-b-white">
            <inertia-link 
                :href="route(link.route)" 
                v-for="(link, index) in links" :key="index"
                class="inline-flex items-center px-2 pb-1 mr-3 mt-2" 
                :class="route().current(`${link.route}*`) 
                    ? 'border-b-2 border-pink-800 text-pink-800 font-bold' 
                    : 'text-gray-600 hover:text-pink-800'"
            >
            <icon :name="link.icon" class="w-4 h-4 mr-1"/>  {{link.text}} 
        </inertia-link>
        </div>

        <div class="my-6">
            <slot></slot>
        </div>
    </div>
</template>

<script>
import layout from '@/Shared/Layout'
export default {
    layout,
    data(){
        return {
            links: [
                { text: 'Client Engagements', icon: 'clipboard-list', route: 'marketing.engagements'},
                { text: 'Purchase Requests', icon: 'inbox-in', route: 'marketing.purchase-requests'},
            ]
        }
    }
}
</script>