<template>
    <div class="max-w-screen-xl">
        <div class="mb-6 px-4 sm:px-0">
            <div class="items-start text-xl font-medium tracking-wider sm:flex justify-between">
                <div class="flex items-end mr-4 mb-4">
                    <!-- <inertia-link :href="$document.referrer" ><icon name="arrow-left" class="mr-2"/> Back</inertia-link> -->
                    <t-button @click="$window.history.back()"><icon name="arrow-left" class="mr-2"/> Back</t-button>
                </div>
                <div class="flex-1 sm:flex justify-between space-y-3">
                    <div>
                        <p class="text-pink-800 uppercase"> <inertia-link :href="route('outlets.edit', {outlet: outlet.id})">{{outlet.name}}</inertia-link> </p>
                        <p class="text-sm text-gray-800">{{outlet.town}}, {{outlet.region}}</p>
                    </div>
                    <div v-if="isEdit()" class="text-sm">
                        <p class="text-gray-700 flex-between"><span class="pr-4 text-gray-500">Rep: </span> <span>{{purchase_order.user.name}}</span> </p>
                        <p class="text-gray-700 flex-between"><span class="pr-4 text-gray-500">Created:</span> <span>{{$moment(purchase_order.created_at).format('lll') }}</span> </p>
                        <p class="text-gray-700 flex-between"><span class="pr-4 text-gray-500">Confirmed:</span> <span v-if="purchase_order.confirmed_at">{{$moment(purchase_order.confirmed_at).format('lll') }}</span> </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-between px-4 sm:px-0">
            <p class="py-6 text-xl font-semibold text-center text-gray-700 uppercase">Purchase Order</p>
            <t-button v-if="isEdit() && !purchase_order.confirmed_at" variant="success" :href="route('sales.purchase-orders.confirm', {po: purchase_order.id})"> <icon name="check-circle" class="mr-2"/> Confirm Purchase Order</t-button>
        </div>

        <!-- Purchase order details -->
        <form-section>
            <template #title>Order Details</template>
            <template #description>Provide the necessary details about this purchase order</template>

            <template #form>
                <!-- <section-label>Product & Quantity</section-label> -->

                <!-- <div class="form-row-cols-3">
                    <t-input-group label="Product" :variant="errors.product && 'error'" :feedback="errors.product">
                        <t-select v-model="form.product" :options="products" placeholder="Select a product"/>
                    </t-input-group>
                    <t-input-group label="Product type" :variant="errors.product_type && 'error'" :feedback="errors.product_type">
                        <t-select v-model="form.product_type" :options="product_types" placeholder="Select a product type"/>
                    </t-input-group>
                    <t-input-group label="Quantity" :variant="errors.quantity && 'error'" :feedback="errors.quantity">
                        <t-input v-model="form.quantity" type="number"/>
                    </t-input-group>
                </div> -->

                <!-- <section-label>Payment Method & Date</section-label> -->

        
                <section-label>Line Items</section-label>

                <div class="rounded-lg border border-gray-600 divide-y mb-4">
                    <div class="grid grid-cols-3 gap-3 p-2 font-semibold">
                        <p>Product</p>
                        <p>Product Type</p>
                        <p>Quantity</p>
                    </div>
                    <div class="grid grid-cols-3 gap-3 p-2" v-for="(item, index) in form.line_items" :key="index">
                        <p>{{item.product}}</p>
                        <p>{{item.product_type}}</p>
                        <p class="flex-between">
                            <span>{{item.quantity}}</span> 
                            <button @click="removeLineItem(index)">
                                <icon name="trash" class="text-red-500"/>
                            </button>
                        </p>
                    </div>
                    <form @submit.prevent="addLineItem">
                        <div class="form-row-cols-3 p-2">
                            <t-input-group>
                                <t-select v-model="line_item.product" :options="products" placeholder="Select a product" required/>
                            </t-input-group>
                            <t-input-group>
                                <t-select v-model="line_item.product_type" :options="product_types" placeholder="Select a product type" required/>
                            </t-input-group>
                            <t-input-group >
                                <t-input v-model="line_item.quantity" type="number" placeholder="Quantity" required/>
                            </t-input-group>
                            <t-button type="submit" variant="dark" class="md:col-start-3">+ Add</t-button>
                        </div>
                    </form>
                </div>

                <div class="pt-6">
                    <section-label>Terms</section-label>
                </div>

                <div class="form-row-cols-2 pb-4 mt-4">
                    <t-input-group label="Payment term" :variant="errors.payment_term && 'error'" :feedback="errors.payment_term">
                        <t-select v-model="form.payment_term" :options="['Cash', '7', '15', '30', '60', 'other']" placeholder="Select a payment term"/>
                    </t-input-group>
                    <t-input-group label="Delivery date" :variant="errors.delivery_date && 'error'" :feedback="errors.delivery_date">
                        <t-datepicker v-model="form.delivery_date"/>
                    </t-input-group>
                </div>


                <!-- <div class="form-row-cols-2" v-if="form.payment_term == 'Check'">
                    <t-input-group label="Check number">
                        <t-input v-model="form.check_number"/>
                    </t-input-group>
                    <t-input-group label="Date on check">
                        <t-datepicker v-model="form.check_matures_at"/>
                    </t-input-group>
                </div> -->

                <!-- <section-label>Order Settlement</section-label> -->

                <!-- <div class="form-row-cols-2">
                    <t-input-group label="Delivery date" :variant="errors.delivery_date && 'error'" :feedback="errors.delivery_date">
                        <t-datepicker v-model="form.delivery_date"/>
                    </t-input-group>
                    <t-input-group label="Payment settled on" v-if="isEdit()">
                        <t-datepicker v-model="form.payment_settled_at"/>
                    </t-input-group>
                </div> -->

                <!-- <div class="form-row-cols-2">
                    <t-input-group label="Amount Due">
                        <t-input type="number" v-model="form.amount"/>
                    </t-input-group>
                    <t-input-group label="Invoice number" v-if="isEdit()">
                        <t-input type="number" v-model="form.invoice_number"/>
                    </t-input-group>
                </div> -->

                <div class="grid grid-cols-1 gap-3">
                    <t-input-group label="Remarks">
                        <t-textarea v-model="form.remarks"/>
                    </t-input-group>
                </div>

                <!-- <div class="form-row-cols-2" v-if="isEdit()">
                    <t-input-group label="Amount Due">
                        <t-input type="number" v-model="form.amount"/>
                    </t-input-group>
                    <t-input-group label="Payment settled on">
                        <t-datepicker v-model="form.payment_settled_at"/>
                    </t-input-group>
                </div> -->
            </template>
        </form-section>

        <!-- Buttons -->
        <div class="flex justify-end">
            <div class="form-row-cols-2">
                <t-button @click="deletePurchaseOrder" v-if="isEdit()">Delete</t-button>
                <t-button variant="success" @click="saveData">Submit</t-button>
            </div>
        </div>
    </div>
</template>

<script>
import layout from '@/Shared/Layout'
export default {
    layout,
    props: {
        errors: Object,
        purchase_order: Object,
        outlet: Object,
        products: Array,
        product_types: Array,
    },

    mounted(){
        if(this.isEdit()) this.form = {...this.form, ...this.purchase_order}
    },

    data(){
        return {
            line_item: {
                product: '',
                product_type: '',
                quantity: null,
            },

            form: this.$inertia.form({
                sales_outlet_id: this.outlet.id,
                user_id: this.user().id,
                delivery_date: '',
                payment_term: '',
                invoice_number: '',
                remarks: '',
                line_items: []
            })
        }
    },

    methods: {
        isEdit(){
            return !! this.purchase_order.id
        },

        addLineItem(){
            const item = JSON.parse(JSON.stringify(this.line_item))
            if(this.isEdit()){
                this.$inertia.post(route('sales.purchase-orders.line-items.store', {po: this.purchase_order.id}), item, {
                        onSuccess: (page) => this.$inertia.visit(page.url)
                    })
            }else{
                this.form.line_items.push(item)
            }

            this.line_item = {
                product: '',
                product_type: '',
                quantity: null,
            }
        },

        removeLineItem(index){
            if(this.isEdit()){
                let li = this.form.line_items[index]
                this.$inertia.delete(route('sales.purchase-orders.line-items.destroy', {li: li.id}), {
                    onBefore: () => confirm('Are you sure you want to delete this item?'),
                    onSuccess: (page) => this.$inertia.visit(page.url)
                })
            } else {
                this.form.line_items.splice(index, 1)
            }
        },

        saveData(){
            this.form.post(
                    route(this.isEdit() ? 'sales.purchase-orders.update' : 'sales.purchase-orders.store', 
                    {po: this.purchase_order.id}, {
                        onSuccess: (page) => this.$inertia.visit(page.url)
                    }
                )
            )
        },

        deletePurchaseOrder(){
            if(confirm('Are you sure?')){
                this.$inertia.delete(route('sales.purchase-orders.destroy', {po: this.purchase_order.id}))
            }
        }
    }
}
</script>