<template>
   <div>
        <div class="mb-6">
            <p class="page-header">
                <span>Purchase Orders </span>
                <!-- <t-button :href="route('outlets.create')" tagName="a" class="flex items-center" variant="dark"> <icon name="plus"/> New Sales Outlet</t-button> -->
            </p>
        </div>

        <div class="filters-form">
            <t-datepicker v-model="search.created_at" range placeholder="Created date range"/>
            <!-- <t-datepicker v-model="search.payment_due_by" range placeholder="Payment due date range"/> -->
            <!-- <t-datepicker v-model="search.check_matures_at" range placeholder="Check Post-date range"/> -->
            <!-- <t-select v-model="search.payment_method" :options="['Cash', 'Credit', 'Check']" placeholder="Payment method"/> -->
            <!-- <t-select v-model="search.product" :options="products" placeholder="Products" class="col-span-2"/> -->
            <!-- <t-select v-model="search.payment_status" :options="['Pending', 'Settled', 'Overdue']" placeholder="Payment Status"/> -->
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Created</th>
                        <th class="py-4 t-cell">Executive</th>
                        <th class="py-4 t-cell">Confirmed</th>
                        <th class="py-4 t-cell">Outlet</th>
                        <th class="py-4 t-cell">Line Items</th>
                        <th class="py-4 t-cell">Delivery Date</th>
                        <th class="py-4 t-cell">Payment Term</th>
                        <th class="py-4 t-cell">Payment Due</th>
                        <th class="py-4 t-cell">Payment Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" 
                        v-for="(po, index) in purchase_orders.data" 
                        :key="index" @click="$inertia.visit(route('sales.purchase-orders.edit', {po: po.id, outlet: po.outlet.id}))"
                    >
                        <!-- <td class="t-cell">{{$moment().to(po.created_at) }}</td> -->
                        <td class="t-cell">{{$moment(po.created_at).format('lll') }}</td>
                        <td class="t-cell">{{ po.user.name }}</td>
                        <td class="t-cell"> 
                            <span v-if="po.confirmed_at" class="text-green-700">{{ $moment().to(po.confirmed_at) }}</span> 
                            <span v-else class="pill-red">Pending</span> 
                        </td>
                        <td class="t-cell">{{ po.outlet.name }}</td>
                        <td class="t-cell">{{ po.line_items_count }}</td>
                        <td class="t-cell">{{ $moment(po.delivery_date).format('ll') }}</td>
                        <td class="t-cell"> {{ po.payment_term }} {{po.payment_term == 'Cash' ? '' : 'days'}} </td>
                        <td class="t-cell">{{ po.payment_term == 'Cash' ? '--' : $moment(po.payment_due_by).format('ll') }}</td>
                        <td class="t-cell"> <span :class="status_classes[po.payment_status]">{{ po.payment_status }}</span> </td>
                    </tr>
                    <tr v-if="!purchase_orders.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="purchase_orders.links" :from="purchase_orders.from" :to="purchase_orders.to" :total="purchase_orders.total" />
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import FinanceLayout from '../Layout'
export default {
    layout: [SiteLayout, FinanceLayout],
    props: {
        purchase_orders: Object,
        products: Array
    },

    data(){
        return {
            search: {
                created_at: '',
                payment_due_by: '',
                check_matures_at: '',
                payment_method: '',
                product: '',
                payment_status: '',
            },
            
            status_classes: {
                Pending: 'pill-yellow',
                Settled: 'pill-green',
                Overdue: 'pill-red',
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('sales.purchase-orders'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>