<template>
    <div class="section-border border-gray-200 flex justify-center text-gray-500"> 
        <span class="block -mt-3.5 bg-white px-4 text-sm">
            <slot></slot>
        </span> 
    </div>
</template>