<template>
	<div class="max-w-screen-xl">
		<div class="mb-6">
			<div class="flex items-end space-x-4 text-xl font-medium tracking-wider">
				<t-button @click="$window.history.back()">
					<icon name="arrow-left" class="mr-2" />Back
				</t-button>
				<p class="text-pink-800 uppercase">{{outlet.name}}</p>
			</div>
		</div>

		<form-section
			@submitted="form.post(route(isEditing() ? 'outlets.update' : 'outlets.store', {outlet: outlet.id}))"
		>
			<template #title>Sales Outlet</template>
			<template #description>
				Provide the necessary information about this Sales Outlet
				<div v-if="isEditing()" class="mt-4">
					<div>
						<div class="section-border"></div>
						<p class="mb-4 font-semibold text-gray-600 uppercase">Actions</p>
						<div class="grid grid-cols-1 sm:grid-cols-3 gap-3">
							<t-button
								variant="dark"
								class="col-start-1 col-span-2 py-3"
								:href="route('marketing.engagements.create', {outlet: outlet.id})"
							>
								<span class="text-sm">Log Engagement -></span>
							</t-button>
							<t-button
								variant="dark"
								class="col-start-1 col-span-2 py-3"
								:href="route('sales.purchase-orders.create', {outlet: outlet.id})"
							>
								<span class="text-sm">Create Purchase Order -></span>
							</t-button>
							<t-button
								variant="dark"
								class="col-start-1 col-span-2 py-3"
								:href="route('sales.payments.create', {outlet: outlet.id})"
							>
								<span class="text-sm">Receive Payment -></span>
							</t-button>
							<t-button
								variant="dark"
								class="col-start-1 col-span-2 py-3"
								:href="route('marketing.purchase-requests.create', {outlet: outlet.id})"
							>
								<span class="text-sm">Create Purchase Request -></span>
							</t-button>
							<t-button
								variant="dark"
								class="col-start-1 col-span-2 py-3"
								:href="route('samples.create', {receiver_name: outlet.name, receiver_type: 'outlet'})"
							>
								<span class="text-sm">Issue Sample -></span>
							</t-button>
							<t-button
								variant="dark"
								class="col-start-1 col-span-2 py-3"
								:href="route('marketing.survey.create', {product: 'Prostat60', outlet_id: outlet.id})"
							>
								<span class="text-sm">Take Survey (Prostat60) -></span>
							</t-button>
						</div>
					</div>
				</div>
			</template>

			<template #form>
				<div class="form-row-cols-2">
					<t-input-group label="Name" :variant="errors.name && 'error'" :feedback="errors.name">
						<t-input v-model="form.name" />
					</t-input-group>
					<t-input-group label="Outlet type" :variant="errors.type && 'error'" :feedback="errors.type">
						<t-select v-model="form.type" :options="outlet_types" placeholder="Select a type" />
					</t-input-group>
				</div>

				<div class="form-row-cols-2" v-if="form.type == 'Wholesale'">
					<t-input-group label="Wholesale Type">
						<t-select
							v-model="form.wholesale_type"
							:options="['Small', 'Medium', 'Large']"
							placeholder="Select a type"
						/>
					</t-input-group>
				</div>

				<div class="form-row-cols-2">
					<t-input-group label="Region" :variant="errors.region && 'error'" :feedback="errors.region">
						<t-select v-model="form.region" :options="regions" placeholder="Select an option" />
					</t-input-group>
					<t-input-group label="Town" :variant="errors.town && 'error'" :feedback="errors.town">
						<t-input v-model="form.town" />
					</t-input-group>
				</div>

				<div class>
					<t-input-group
						label="Location"
						:variant="errors.location && 'error'"
						:feedback="errors.location"
					>
						<t-textarea v-model="form.location" />
					</t-input-group>
				</div>

				<div class="form-row-cols-2">
					<t-input-group
						label="Contact Person"
						:variant="errors.contact_person && 'error'"
						:feedback="errors.contact_person"
					>
						<t-input v-model="form.contact_person" />
					</t-input-group>
					<t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone">
						<t-input v-model="form.phone" />
					</t-input-group>
				</div>

				<div class="form-row-cols-2">
					<t-input-group
						label="Digital Address"
						:variant="errors.digital_address && 'error'"
						:feedback="errors.digital_address"
					>
						<t-input v-model="form.digital_address" />
					</t-input-group>
				</div>

				<div class="form-row-cols-1">
					<div>
						<p class="text-gray-600 mb-3">Products stocking</p>
						<div class="flex flex-row space-x-4">
							<label class="flex items-center" v-for="(item, index) in products" :key="index">
								<t-checkbox v-model="form.products_stocking" :name="item" :value="item" />
								<span class="text-sm">{{item}}</span>
							</label>
						</div>
					</div>
				</div>
			</template>

			<template #actions>
				<div class="flex-between">
					<t-button
						v-if="isEditing()"
						type="button"
						class="mr-2 text-red-500"
						@click="deleteoutlet(outlet.id)"
					>Delete</t-button>
					<t-button variant="success" type="submit">{{isEditing() ? 'Update Outlet' : 'Save'}}</t-button>
				</div>
			</template>
		</form-section>
	</div>
</template>

<script>
	import layout from "@/Shared/Layout";
	export default {
		layout,
		props: {
			errors: Object,
			outlet: Object,
			regions: Array,
			products: Array,
			outlet_types: Array
		},

		mounted() {
			if (this.isEditing())
				this.form = { ...this.form, ...this.outlet };
		},

		data() {
			return {
				form: this.$inertia.form({
					name: "",
					type: "",
					wholesale_type: "",
					region: "",
					town: "",
					location: "",
					digital_address: "",
					contact_person: "",
					phone: "",
					products_stocking: []
					// suburb: '',
					// sells_products: 1,
				})
			};
		},

		methods: {
			isEditing() {
				return !!this.outlet.id;
			},

			deleteoutlet(outlet) {
				if (confirm("Are you sure?")) {
					this.$inertia.delete(
						route("outlets.destroy", { outlet })
					);
				}
			}
		}
	};
</script>