<template>
	<div>
		<div class="mb-6">
			<p class="page-header">
				<span>Sales Outlets</span>
				<t-button :href="route('outlets.create')" tagName="a" class="flex items-center" variant="dark">
					<icon name="plus" />New Sales Outlet
				</t-button>
			</p>
		</div>

		<div class="filters-form">
			<t-input v-model="search.name" placeholder="Name" />
			<t-input v-model="search.town" placeholder="Town" />
			<t-select v-model="search.region" :options="regions" placeholder="All Regions" />
			<t-select
				v-model="search.type"
				:options="outlet_types"
				placeholder="All Outlet Types"
			/>
			<t-select v-model="search.product_stocking" placeholder="All Products" :options="products" />
		</div>

		<div class="table-container">
			<table class="table">
				<thead>
					<tr class="th-row">
						<th class="t-cell py-4 pr-0">...</th>
						<th class="t-cell py-4">ID</th>
						<th class="t-cell py-4">Name</th>
						<th class="t-cell py-4">Type</th>
						<th class="t-cell py-4">Region</th>
						<th class="t-cell py-4">Town</th>
						<th class="t-cell py-4">Location</th>
						<th class="t-cell py-4">Products Stocking</th>
						<th class="t-cell py-4">Contact</th>
						<!-- <th class="t-cell py-4">Suburb</th> -->
						<!-- <th class="t-cell py-4">Created</th> -->
					</tr>
				</thead>
				<tbody>
					<tr
						class="td-row cursor-pointer hover:bg-gray-50"
						v-for="(outlet, index) in salesOutlets.data"
						:key="index"
						@click="$inertia.visit(route('outlets.edit', {outlet: outlet.id}))"
					>
						<td class="t-cell pr-0">{{index + 1}}</td>
						<td class="t-cell">{{outlet.id}}</td>
						<td class="t-cell" :class="!outlet.sells_products && 'line-through'">
							<span
								class="h-2 w-2 inline-block rounded-full -ml-2 mr-2"
								:class="outlet.sells_products ? 'bg-green-500': 'bg-red-500'"
							></span>
							{{outlet.name}}
						</td>
						<td class="t-cell">{{outlet.type}}</td>
						<td class="t-cell">{{outlet.region}}</td>
						<td class="t-cell">{{outlet.town}}</td>
						<td class="t-cell">{{outlet.location}}</td>
						<td class="t-cell flex space-x-2">
							<span
								class="text-xs px-2 rounded-full bg-blue-100 text-blue-800"
								v-for="(product, index) in outlet.products_stocking"
								:key="index"
							>{{product}}</span>
						</td>
						<td class="t-cell">{{outlet.phone}}</td>
						<!-- <td class="t-cell">{{outlet.suburb}}</td> -->
						<!-- <td class="t-cell">{{$moment(outlet.created_at).format('ll') }}</td> -->
					</tr>
					<tr v-if="!salesOutlets.data.length">
						<td class="t-cell">No records found</td>
					</tr>
				</tbody>
			</table>
		</div>
		<pagination
			:onPageChange="getData"
			:links="salesOutlets.links"
			:from="salesOutlets.from"
			:to="salesOutlets.to"
			:total="salesOutlets.total"
		/>
	</div>
</template>

<script>
	import layout from "@/Shared/Layout";
	export default {
		layout,
		props: {
			salesOutlets: Object,
			regions: Array,
			products: Array,
			outlet_types: Array
		},

		data() {
			return {
				search: {
					name: "",
					region: "",
					town: "",
					suburb: "",
					location: "",
					digital_address: "",
					product_stocking: "",
					type: ""
				}
			};
		},

		watch: {
			search: {
				handler() {
					this._search();
				},
				deep: true
			}
		},

		methods: {
			_search: _.debounce(function() {
				this.getData();
			}, 300),

			getData(page = 1) {
				this.$inertia.get(
					route("outlets"),
					{ page, ...this.search },
					{
						preserveState: true
					}
				);
			}
		}
	};
</script>