<template>
    <div class="max-w-screen-xl">
        <p class="page-header mb-6">
            <t-button @click="$window.history.back()"><icon name="arrow-left" class="mr-2"/> Back</t-button>
            <!-- <inertia-link :href="route('call-records')" class="text-blue-600"> ← {{ record.name || 'New Call Entry' }}</inertia-link> -->
            <!-- <t-button :href="route('call-records.create')" variant="brand" tagName="a">+ New Record</t-button> -->
        </p>

        <form-section @submitted="form.post(route(isEdit() ? 'call-records.update' : 'call-records.store', {caller: record.id}))">
            <template #title>Call Record</template>
            <template #description>Provide the necessary information about this call record</template>

            <template #form>
                <div class="form-row-cols-2">
                    <t-input-group label="Name" :variant="errors.name && 'error'" :feedback="errors.name">
                        <t-input v-model="form.name" type="name"/>
                    </t-input-group>
                    <t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone">
                        <t-input v-model="form.phone" type="phone"/>
                    </t-input-group>
                </div>

                <div class="form-row-cols-2">
                    <t-input-group label="Town" :variant="errors.town && 'error'" :feedback="errors.town">
                        <t-input v-model="form.town" type="town"/>
                    </t-input-group>
                    <t-input-group label="Region" :variant="errors.region && 'error'" :feedback="errors.region">
                        <t-select v-model="form.region" :options="regions" placeholder="Select an option"/>
                    </t-input-group>
                </div>

                <div class="form-row-cols-2">
                    <t-input-group label="Product" :variant="errors.product && 'error'" :feedback="errors.product">
                        <t-select v-model="form.product" :options="products" placeholder="Select an option"/>
                    </t-input-group>
                    <t-input-group label="Reason for call" :variant="errors.reason && 'error'" :feedback="errors.reason">
                        <t-select v-model="form.reason" :options="reasons" placeholder="Select an option"/>
                    </t-input-group>
                </div>

                <div class="form-row-cols-2">
                    <t-input-group label="Country" :variant="errors.country && 'error'" :feedback="errors.country">
                        <t-select v-model="form.country" :options="countries" placeholder="Select an option"/>
                    </t-input-group>
                    <t-input-group label="Ad Source" :variant="errors.source && 'error'" :feedback="errors.source">
                        <t-select v-model="form.source" :options="ad_sources" placeholder="Select an option"/>
                    </t-input-group>
                </div>

                <div class="">
                    <t-input-group label="Notes" :variant="errors.notes && 'error'" :feedback="errors.notes">
                        <t-textarea v-model="form.notes" />
                    </t-input-group>
                </div>
            </template>

            <template #actions>
                <div class="flex-between">
                    <t-button v-if="isEdit()" type="button" class="mr-2 text-red-500" @click="deleteRecord(record.id)">Delete</t-button>
                    <t-button variant="success" type="submit">Save</t-button>
                </div>
            </template>
        </form-section>
    </div>
</template>

<script>
import layout from '@/Shared/Layout'
// import FormSection from '@/Shared/FormSection'
import countries from "@/Shared/countries"
export default {
    layout,
    // components: {
    //     FormSection,
    // },
    props: {
        errors: Object,
        record: Object,
        reasons: Array,
        regions: Array,
        products: Array,
        ad_sources: Array
    },

    mounted(){
        if(this.isEdit()) this.form = {...this.form, ...this.record}
    },

    data(){
        return {
            countries,
            form: this.$inertia.form({
                name: null,
                phone: null,
                email: null,
                town: null,
                notes: null,
                reason: null,
                product: null,
                source: null,
                region: null,
                country: 'Ghana',
                referrer: null,
            })
        }
    },

    methods: {
        isEdit(){
            return !! this.record.id
        },

        deleteRecord(caller){
            if(confirm('Are you sure?')){
                this.$inertia.delete(route('call-records.destroy', {caller}))
            }
        }
    }
}
</script>