<template>
    <div class="max-w-screen-xl">
        <div class="mb-6">
            <p class="text-xl font-medium tracking-wider flex-between">
                <inertia-link :href="route('admins.users')" class="text-blue-600"> ← {{ user.name || 'New User Details' }}</inertia-link>
            </p>
        </div>

        <form-section @submitted="form.post(route(isEdit() ? 'admins.users.update' : 'admins.users.store', {user: user.id}))">
            <template #title>Staff Record</template>
            <template #description>Provide the necessary information about this user</template>

            <template #form>
                <div class="form-row-cols-2">
                    <t-input-group label="Name" :variant="errors.name && 'error'" :feedback="errors.name">
                        <t-input v-model="form.name"/>
                    </t-input-group>
                    <t-input-group label="Email" :variant="errors.email && 'error'" :feedback="errors.email">
                        <t-input v-model="form.email" type="email"/>
                    </t-input-group>
                    <t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone">
                        <t-input v-model="form.phone" type="tel"/>
                    </t-input-group>
                    <t-input-group label="Department" :variant="errors.department && 'error'" :feedback="errors.department">
                        <t-select v-model="form.department" :options="departments" placeholder="Select an option"/>
                    </t-input-group>
                    <t-input-group label="Password" :variant="errors.password && 'error'" :feedback="errors.password">
                        <t-input v-model="form.password"/>
                    </t-input-group>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <div>
                        <p class="mb-2 text-gray-600">Unit</p>
                        <div class="grid grid-cols-1 gap-3">
                            <label class="flex items-center" v-for="(role, index) in roles" :key="index">
                                <t-radio v-model="form.role" :name="role" :value="role" />
                                <span class="text-sm">{{role}}</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <p class="mb-2 text-gray-600">System Notifications</p>
                        <p class="text-gray-500 text-xs" v-if="!user.phone">!!Set phone number to activate notifications</p>
                        <div v-else class="grid grid-cols-1 gap-3">
                            <label class="flex items-center" v-for="(notification, index) in notifications" :key="index">
                                <t-checkbox v-model="form.notifications" :name="notification" :value="notification" />
                                <span class="text-sm">{{notification}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </template>

            <template #actions>
                <div class="flex-between">
                    <t-button v-if="isEdit()" type="button" class="mr-2 text-red-500" @click="deleteuser(user.id)">Delete</t-button>
                    <t-button variant="success" type="submit">Save</t-button>
                </div>
            </template>
        </form-section>
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import Adminlayout from '../Layout'
export default {
    layout: [SiteLayout, Adminlayout],
    props: {
        errors: Object,
        user: Object,
        roles: Array,
        departments: Array,
        notifications: Array
    },

    mounted(){
        if(this.isEdit()) this.form = {...this.form, ...this.user}
    },

    data(){
        return {
            form: this.$inertia.form({
                name: null,
                email: null,
                phone: null,
                department: null,
                notifications: [],
                role: '',
                password: '',
            })
        }
    },

    methods: {
        isEdit(){
            return !! this.user.id
        },

        deleteuser(user){
            if(confirm('Are you sure?')){
                this.$inertia.delete(route('admins.users.destroy', {user}))
            }
        }
    }
}
</script>