<template>
   <div>
        <div class="mb-4">
            <p class="page-header">
                <span>Phytotec Staff</span>
                <t-button :href="route('admins.users.create')" tagName="a" variant="dark">+ New Staff Record</t-button>
            </p>
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Name</th>
                        <th class="py-4 t-cell">Email</th>
                        <th class="py-4 t-cell">Phone</th>
                        <th class="py-4 t-cell">Department</th>
                        <th class="py-4 t-cell">Unit</th>
                        <th class="py-4 t-cell">...</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" v-for="(user, index) in users.data" :key="index">
                        <td class="t-cell">{{user.name}}</td>
                        <td class="t-cell">{{user.email}}</td>
                        <td class="t-cell">{{user.phone}}</td>
                        <td class="t-cell">{{user.department}}</td>
                        <td class="t-cell">{{user.role}}</td>
                        <td class="flex space-x-2 t-cell">
                            <t-button class="items-center space-x-2" :href="route('admins.users.edit', {user: user.id})"> 
                                <span class="text-xs">View</span>  
                                <icon name="eye"/>
                            </t-button>
                            <t-button v-if="$page.props.auth.user.id !== user.id" class="items-center space-x-2" :href="route('admins.users.impersonate', {user: user.id})"> 
                                <span class="text-xs">Login</span>  
                                <icon name="arrow-narrow-right"/>
                            </t-button>
                        </td>
                    </tr>
                    <tr v-if="!users.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="users.links" :from="users.from" :to="users.to" :total="users.total" />
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import Adminlayout from '../Layout'
export default {
    layout: [SiteLayout, Adminlayout],
    props: {
        users: Object
    },

    data(){
        return {
            search: {
                
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('admins.users'), {page, ...this.search}, {
                preserveState: true,
            })
        },
    }
}
</script>