
<template>
  <div class="flex items-center justify-center min-h-screen p-6 bg-gray-900">
    <div class="w-full max-w-md">
      <!-- <logo class="block w-full max-w-xs mx-auto fill-white" height="50" /> -->
      <form class="mt-8 overflow-hidden bg-white rounded-lg shadow-xl" @submit.prevent="submit">
        <div class="px-10 py-12">
          <h1 class="text-3xl font-bold text-center">PHYTOTEC ERP</h1>
          <div class="w-24 mx-auto mt-6 mb-6 border-b-2" />

          <t-input-group label="Email" class="mb-4" :variant="errors.email && 'error'" :feedback="errors.email && errors.email">
                <t-input v-model="form.email" type="email" autofocus />
          </t-input-group>

          <t-input-group label="Password">
            <t-input v-model="form.password" type="password"/>
          </t-input-group>

          <label class="flex items-center mt-6 select-none" for="remember">
            <input id="remember" v-model="form.remember" class="mr-1" type="checkbox">
            <span class="text-sm">Remember Me</span>
          </label>
        </div>
        <div class="flex items-center justify-between px-6 py-4 bg-gray-100 border-t border-gray-200">
          <!-- <a class="hover:underline" tabindex="-1" href="#reset-password">Forgot password?</a> -->
          <span></span>
          <t-button :loading="sending" variant="brand" type="submit">Login</t-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
// import LoadingButton from '@/Shared/LoadingButton'
// import Logo from '@/Shared/Logo'
// import TextInput from '@/Shared/TextInput'
export default {
  metaInfo: { title: 'Login' },
//   components: {
//     LoadingButton,
//     Logo,
//     TextInput,
//   },
  props: {
    errors: Object,
  },
  data() {
    return {
      sending: false,
      form: {
        email: '',
        password: '',
        remember: null,
      },
    }
  },
  methods: {
    submit() {
      const data = {
        email: this.form.email,
        password: this.form.password,
        remember: this.form.remember,
      }
      this.$inertia.post(this.route('login'), data, {
        onStart: () => this.sending = true,
        onFinish: () => this.sending = false,
      })
    },
  },
}
</script>