<template>
   <div>
       <div class="mb-8">
            <div class="mb-4">
                <p class="page-header">
                    <span>Products</span>
                    <!-- <t-button :href="route('admins.products.create')" tagName="a">+ New Staff Record</t-button> -->
                </p>
            </div>

            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr class="th-row">
                            <th class="t-cell py-4">Name</th>
                            <th class="t-cell py-4">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="td-row cursor-pointer hover:bg-gray-50" v-for="(product, index) in products" :key="index" @click="$inertia.visit(route('admins.products.edit', {product: product.id}))">
                            <td class="t-cell">{{product.name}}</td>
                            <td class="t-cell">{{product.type}}</td>
                        </tr>
                        <tr v-if="!products.length">
                            <td class="t-cell">No records found</td>
                        </tr>
                    </tbody>
                </table>
            </div>           
       </div>



        <div class="mb-4">
            <p class="page-header">
                <span>Products</span>
                <!-- <t-button :href="route('admins.products.create')" tagName="a">+ New Staff Record</t-button> -->
            </p>
        </div>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="t-cell py-4">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="td-row cursor-pointer hover:bg-gray-50" v-for="(product, index) in products" :key="index" @click="$inertia.visit(route('admins.products.edit', {product: product.id}))">
                        <td class="t-cell">{{product.name}}</td>
                    </tr>
                    <tr v-if="!products.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import SiteLayout from '@/Shared/Layout'
import Adminlayout from '../Layout'
export default {
    layout: [SiteLayout, Adminlayout],
    props: {
        products: Array
    }
}
</script>